<p>このページはマイページ（ユーザー詳細ページ）です。</p>
<%= link_to "投稿する", new_post_path %><br />
<%= @user.name %><br />
<%= "@" + @user.screen_name %><br />

<% if @user.avatar? %>
　<%= image_tag @user.avatar %><br />
<% end %>


<%= link_to "プロフィールを編集する", edit_user_registration_path %>

<% if user_signed_in? %>
  <p><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></p>
<% end %>
